* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #020202;
}

header {
    width: 100%;
    background-color: #111;
    padding-top: 90px; /* Account for fixed navbar */
}

.navbar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    animation: slideInFromTop 0.5s ease-out;
    z-index: 100;
}

.name {
    color: white;
    margin-left: 20px;
    animation: slideright 2s ease-out;
}

.name span {
    color: #03b20f;
    animation: slideright 2s ease-out;
}

.name:hover span {
    color: white;
}

.name:hover {
    color: #03b20f;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin-right: 20px;
}

.navbar ul li {
    display: flex;
    gap: 45px;
    font-weight: bold;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
    transition: ease-in-out 0.2s;
    animation: slideleft 2s ease-out;
}

.navbar ul li a:hover {
    transform: scale(1.1);
    background-image: linear-gradient(to bottom, rgb(254, 254, 254), rgb(212, 231, 213), rgb(2, 184, 14));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.hero {
    color: white;
    text-align: center;
    margin-top: 0; /* Changed from 200px to 0 */
    padding: 40px 20px; /* Add padding for spacing */
    animation: slideInFromTop 1s ease-out;
    display: flex;
    justify-content: space-around;
    align-items: flex-start; /* Changed from center to flex-start */
}

.left-box .greet {
    font-size: 40px;
    margin-top: 100px;
    background-image: linear-gradient(to bottom, rgb(254, 254, 254), rgb(212, 231, 213), rgb(2, 184, 14));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.left-box .greet-name {
    font-size: 45px;
    color: #0fff1ff2;
    animation: zoom 1s ease-out;
    animation: animate 3s infinite;
}

.left-box .desc {
    font-size: 20px;
    margin-top: 10px;
    color: rgb(139, 134, 134);
}

.right-box .img {
    width: 300px;
    height: 300px;
    border: 2px solid white;
}

.right-box img {
    display: flex;
    align-self: flex-start;
    width: 290px;
    height: 290px;
    border-radius: 0;
    animation: zoom 1s ease-out;
}

:root {
    fix {
        background-image: linear-gradient(to bottom, rgb(254, 254, 254), rgb(212, 231, 213), rgb(2, 184, 14));
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
}

@keyframes animate {
    0% {
        transform: translateY(10%);
    }
    50% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(10%);
    }
}

.trial {
    color: azure;
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideright {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideleft {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes zoom {
    0% {
        transform: scale(1.5);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}